.app {
  display: flex;
  min-height: 100vh;
  background: #f7f7fa;
  font-family: Inter, sans-serif;
}

/* Hide all scrollbars in the app */

* {
  scrollbar-width: none;        
  -ms-overflow-style: none;       
}
*::-webkit-scrollbar {
  display: none;                  
}


@media (max-width: 760px) {
  .app {
    flex-direction: column;
    min-height: 100vh;
    width: 100vw;
  }
}

